body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(40, 49, 54);
}

a {
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.main-navigation {
    line-height: 30px;

    background-color: #eeeeee;
}

.main-navigation a{
    color: black;
    
    background: none;
}


.main-navigation a:hover,
.main-navigation a:focus {
    color: #fb565a;
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-header-logo img:hover,
.main-header-logo img:focus {
    opacity: .8;
}

.main-header-logo img:active {
    opacity: .3;
}

.site-navigation {
    list-style: none;
}

.slider {
    background-color: #eeeeee;
}

.header-slider {
    background-color: #eeeeee;
}

.slider h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slides-switches {
    list-style: none;
}

.button {
    font: inherit;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;

    text-decoration: none;
    text-transform: uppercase;

    background-color: #fb565a;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.advantages h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}

.advantages-apps .button {
    background-color: #00ca74;
}

.advantages-apps .button:hover,
.advantages-apps .button:focus {
    background-color: #00bc6c;
}

.advantages-apps .button:active {
    background-color: #00aa62;
}

.advantages-present .button {
    background-color: #efc84a;
}

.advantages-present .button:hover,
.advantages-present .button:focus {
    background-color: #eab534;
}

.advantages-present .button:active {
    background-color: #e5a722;
}

.about-us-studio {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
}

.list-orders-name,
.about-us-since {
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.list-orders {
    list-style: none;
}

.list-orders li::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: red;
}

.about-us-procent {
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    color: #000000;
}

.about-us-elements {
    line-height: 18px;
}

.partners-elements {
    list-style: none;
}

.partners-elements li img {
    opacity: .2;
}

.partners-elements li img:hover,
.partners-elements li img:focus {
    opacity: 1;
}

.partners-elements li img:active {
    opacity: .1;
}

.contacts-studio-name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.contacts p {
    line-height: 18px;
    color: #666666;
}

.footer-social strong {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.footer-social p {
    line-height: 22px;
    color: #444444;
}

.modal-contacts {
    color: #000000;
}

.modal-contacts h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.contacts-item label {
    line-height: 18px;
    font-weight: 700;
}