body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(40, 49, 54);
}

a {
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    text-decoration: none;
    text-transform: uppercase;

    background-color: #fb666a;
}

.main-navigation {
    line-height: 30px;

    background-color: #eeeeee;
}

.main-navigation a{
    color: black;
    
    background: none;
}


.main-navigation a:hover,
.main-navigation a:focus {
    color: #fb565a;
}

.site-navigation {
    list-style: none;
}

.slider {
    background-color: #eeeeee;
}

.header-slider {
    background-color: #eeeeee;
}

.slider h3 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
}

.slides-switches {
    list-style: none;
}

.advantages h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}